    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bodoni+Moda:opsz@6..96&family=Caveat&family=Dancing+Script:wght@400;700&family=Fuggles&family=Handjet:wght@300&family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bodoni+Moda:opsz@6..96&family=Caveat&family=Dancing+Script:wght@400;700&family=Fuggles&family=Handjet:wght@300&family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bodoni+Moda:opsz@6..96&family=Caveat&family=Dancing+Script:wght@400;700&family=Fuggles&family=Handjet:wght@300&family=Libre+Baskerville:ital@1&family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bodoni+Moda:opsz@6..96&family=Caveat&family=Dancing+Script:wght@400;700&family=Fuggles&family=Handjet:wght@300&family=Libre+Baskerville:ital@1&family=Libre+Bodoni:wght@500&family=Metamorphous&family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bodoni+Moda:opsz@6..96&family=Caveat&family=Dancing+Script:wght@400;700&family=Fuggles&family=Handjet:wght@300&family=Libre+Baskerville:ital@1&family=Metamorphous&family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;400;500;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins';
    }
    
    body {
        display: flex;
        /* flex-direction: row-reverse; */
        align-items: center;
        justify-content: space-evenly;
        min-height: 100vh;
        /* background: url("pexels-pierre-blaché-2901215.jpg"); */
        /* background: url("pexels-robert-stokoe-4223678.jpg"); */
        /* background: url("pexels-frans-van-heerden-733661.jpg"); */
        /* background: url("pexels-josiah-farrow-3396656.jpg"); */
        /* background: url("pexels-pierre-blaché-2901215 (1).jpg"); */
        background: rgba(0, 0, 0, 0.5) url("pexels-pierre-blaché-2901215 (1).jpg");
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .intro h2 {
        font-size: 35px;
        color: #91a3b0;
    }
    
    .intro h4 {
        font-size: 20px;
        font-style: italic;
        color: #0ef;
        text-align: center;
    }
    
    .wrapper {
        position: relative;
        width: 400px;
        height: 500px;
        background: transparent;
        /* box-shadow: 0 0 30px #0ef; */
        border-radius: 20px;
        overflow: hidden;
        border: 1px solid #0ef;
    }
    
    .form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: 1s ease-in-out;
    }
    /* .wrapper:hover {
        animation: animate 3s linear infinite;
    } */
    
    @keyframes animate {
        100% {
            filter: hue-rotate(360deg);
        }
    }
    
    .wrapper.active .form-wrapper.sign-in {
        transform: translateY(-450px);
    }
    
    .wrapper .form-wrapper.sign-up {
        position: absolute;
        top: 450px;
        left: 0;
    }
    
    .wrapper.active .form-wrapper.sign-up {
        transform: translateY(-450px);
    }
    
    h2 {
        font-size: 30px;
        color: #fff;
        text-align: center;
    }
    
    .input-group {
        position: relative;
        margin: 30px 0;
        border-bottom: 2px solid #fff;
    }
    
    .input-group input:focus~label,
    .input-group input:valid~label {
        top: -5px;
    }
    
    .input-group label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
    }
    
    .input-group input {
        width: 320px;
        height: 40px;
        font-size: 16px;
        color: #fff;
        padding: 0 5px;
        background: transparent;
        border: none;
        outline: none;
    }
    
    .remember {
        margin: -5px 0 15px 5px;
    }
    
    .remember label {
        color: #fff;
        font-size: 14px;
    }
    
    .remember label input {
        accent-color: #0ef;
    }
    
    button {
        position: relative;
        width: 100%;
        height: 40px;
        background: #0ef;
        box-shadow: 0 0 10px #0ef;
        font-size: 16px;
        color: #000;
        font-weight: 500;
        cursor: pointer;
        border-radius: 30px;
        border: none;
        outline: none;
    }
    
    .signUp-link {
        font-size: 14px;
        text-align: center;
        margin: 15px, 0;
        margin-top: 5px;
    }
    
    .signUp-link p {
        color: #fff;
    }
    
    .signUp-link p a {
        color: #0ef;
        text-decoration: none;
        font-weight: 500;
    }
    
    .signUp-link p a:hover {
        text-decoration: underline;
    }
    
    @media screen and (max-width: 790px) {
        body {
            flex-direction: column;
            flex-wrap: wrap;
            margin: 1vw;
        }
        .intro h2 {
            margin: 0;
            color: #91a3b0;
        }
        .intro h4 {
            font-size: 5;
            margin: 1vw;
            text-align: center;
            color: #b2beb5;
        }
        .wrapper {
            position: relative;
            width: 90vw;
            height: 100;
            background: transparent;
            border-radius: 20px;
            overflow: hidden;
            border: 1px solid #0ef;
            margin: 1rem;
        }
    }
    
    @media screen and (min-width: 1080px) {
        body {
            display: flex;
            flex-direction: row;
            margin: 1vw;
        }
        .wrapper {
            position: relative;
            margin: 5vw;
            width: 40vw;
            height: 35vw;
            background: transparent;
            border-radius: 20px;
            overflow: hidden;
            border: 1px solid #0ef;
        }
        .intro h4 {}
    }